.user-card {
    background:#ffffff;
    padding:20px;
    border-radius:12px;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f0861c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar i {
    font-size: 13px;
    color: white;
}

.nama {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.email {
    font-size: 10px;
    margin: 2px 0 0 0;
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* biar gak kepanjangan */
    max-width: 120px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 6px;
}